<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Main combined stylesheet -->
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

    <!-- Scout font. -->
    {{ $font := resources.Get "sass/nunitosans.scss" | resources.ExecuteAsTemplate "sass/nunitosans.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ $font.RelPermalink }}" integrity="{{ $font.Data.Integrity }}">

    <!-- Favicons -->
    {{ $logo := resources.Get "images/logo.svg" | resources.ExecuteAsTemplate "images/logo.svg" . | resources.Minify}}
    <link rel="icon" href="{{ $logo.RelPermalink }}" type="image/svg+xml">


    <title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
</head>
